In [0]:
sc

In [0]:
print(spark)

In [0]:
#a) Create HR_Employee Pysaprk dataFrame.
hr_employee = spark.read.csv("dbfs:/FileStore/tables/HR_Employee.csv", header=True, inferSchema=True)

In [0]:
#b) Show printSchema &amp; show 10 rows of Dataset
hr_employee.printSchema()
hr_employee.show(10, False)

root
 |-- EmployeeID: integer (nullable = true)
 |-- Department: string (nullable = true)
 |-- JobRole: string (nullable = true)
 |-- Attrition: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- MaritalStatus: string (nullable = true)
 |-- Education: string (nullable = true)
 |-- EducationField: string (nullable = true)
 |-- BusinessTravel: string (nullable = true)
 |-- JobInvolvement: string (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobSatisfaction: string (nullable = true)
 |-- Hourlyrate: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Salaryhike: integer (nullable = true)
 |-- OverTime: string (nullable = true)
 |-- Workex: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- EmpSatisfaction: string (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: string (nullable = true)
 |-- Performance_Rating: string (nullable = true)

+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|EmployeeID|Department            |JobRole                  |Attrition|Gender|Age|MaritalStatus|Education    |EducationField|BusinessTravel   |JobInvolvement|JobLevel|JobSatisfaction|Hourlyrate|Income|Salaryhike|OverTime|Workex|YearsSinceLastPromotion|EmpSatisfaction|TrainingTimesLastYear|WorkLifeBalance|Performance_Rating|
+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
|1         |Sales                 |Sales Executive          |Yes      |Female|41 |Single       |College      |Life Sciences |Travel_Rarely    |High          |2       |Very High      |94        |5993  |11        |Yes     |8     |0                      |Medium         |0                    |Bad            |Excellent         |
|2         |Research & Development|Research Scientist       |No       |Male  |49 |Married      |Below College|Life Sciences |Travel_Frequently|Medium        |2       |Medium         |61        |5130  |23        |No      |10    |1                      |High           |3                    |Better         |Outstanding       |
|3         |Research & Development|Laboratory Technician    |Yes      |Male  |37 |Single       |College      |Other         |Travel_Rarely    |Medium        |1       |High           |92        |2090  |15        |Yes     |7     |0                      |Very High      |3                    |Better         |Excellent         |
|4         |Research & Development|Research Scientist       |No       |Female|33 |Married      |Master       |Life Sciences |Travel_Frequently|High          |1       |High           |56        |2909  |11        |Yes     |8     |3                      |Very High      |3                    |Better         |Excellent         |
|5         |Research & Development|Laboratory Technician    |No       |Male  |27 |Married      |Below College|Medical       |Travel_Rarely    |High          |1       |Medium         |40        |3468  |12        |No      |6     |2                      |Low            |3                    |Better         |Excellent         |
|6         |Research & Development|Laboratory Technician    |No       |Male  |32 |Single       |College      |Life Sciences |Travel_Frequently|High          |1       |Very High      |79        |3068  |13        |No      |8     |3                      |Very High      |2                    |Good           |Excellent         |
|7         |Research & Development|Laboratory Technician    |No       |Female|59 |Married      |Bachelor     |Medical       |Travel_Rarely    |Very High     |1       |Low            |81        |2670  |20        |Yes     |12    |0                      |High           |3                    |Good           |Outstanding       |
|8         |Research & Development|Laboratory Technician    |No       |Male  |30 |Divorced     |Below College|Life Sciences |Travel_Rarely    |High          |1       |High           |67        |2693  |22        |No      |1     |0                      |Very High      |2                    |Better         |Outstanding       |
|9         |Research & Development|Manufacturing Director   |No       |Male  |38 |Single       |Bachelor     |Life Sciences |Travel_Frequently|Medium        |3       |High           |44        |9526  |21        |No      |10    |1                      |Very High      |2                    |Better         |Outstanding       |
|10        |Research & Development|Healthcare Representative|No       |Male  |36 |Married      |Bachelor     |Medical       |Travel_Rarely    |High          |2       |High           |94        |5237  |13        |No      |17    |7                      |High           |3                    |Good           |Excellent         |
+----------+----------------------+-------------------------+---------+------+---+-------------+-------------+--------------+-----------------+--------------+--------+---------------+----------+------+----------+--------+------+-----------------------+---------------+---------------------+---------------+------------------+
only showing top 10 rows

In [0]:
#c) Most employee is working in which department
hr_employee.createTempView("employee_table")

In [0]:
%sql
SELECT * from employee_table where LIMIT 10

EmployeeID,Department,JobRole,Attrition,Gender,Age,MaritalStatus,Education,EducationField,BusinessTravel,JobInvolvement,JobLevel,JobSatisfaction,Hourlyrate,Income,Salaryhike,OverTime,Workex,YearsSinceLastPromotion,EmpSatisfaction,TrainingTimesLastYear,WorkLifeBalance,Performance_Rating
1,Sales,Sales Executive,Yes,Female,41,Single,College,Life Sciences,Travel_Rarely,High,2,Very High,94,5993,11,Yes,8,0,Medium,0,Bad,Excellent
2,Research & Development,Research Scientist,No,Male,49,Married,Below College,Life Sciences,Travel_Frequently,Medium,2,Medium,61,5130,23,No,10,1,High,3,Better,Outstanding
3,Research & Development,Laboratory Technician,Yes,Male,37,Single,College,Other,Travel_Rarely,Medium,1,High,92,2090,15,Yes,7,0,Very High,3,Better,Excellent
4,Research & Development,Research Scientist,No,Female,33,Married,Master,Life Sciences,Travel_Frequently,High,1,High,56,2909,11,Yes,8,3,Very High,3,Better,Excellent
5,Research & Development,Laboratory Technician,No,Male,27,Married,Below College,Medical,Travel_Rarely,High,1,Medium,40,3468,12,No,6,2,Low,3,Better,Excellent
6,Research & Development,Laboratory Technician,No,Male,32,Single,College,Life Sciences,Travel_Frequently,High,1,Very High,79,3068,13,No,8,3,Very High,2,Good,Excellent
7,Research & Development,Laboratory Technician,No,Female,59,Married,Bachelor,Medical,Travel_Rarely,Very High,1,Low,81,2670,20,Yes,12,0,High,3,Good,Outstanding
8,Research & Development,Laboratory Technician,No,Male,30,Divorced,Below College,Life Sciences,Travel_Rarely,High,1,High,67,2693,22,No,1,0,Very High,2,Better,Outstanding
9,Research & Development,Manufacturing Director,No,Male,38,Single,Bachelor,Life Sciences,Travel_Frequently,Medium,3,High,44,9526,21,No,10,1,Very High,2,Better,Outstanding
10,Research & Development,Healthcare Representative,No,Male,36,Married,Bachelor,Medical,Travel_Rarely,High,2,High,94,5237,13,No,17,7,High,3,Good,Excellent

In [0]:
spark.sql("SELECT Department,count(*) as total_no_employess from employee_table GROUP BY Department order by total_no_employess desc").show(truncate=False)

+----------------------+------------------+
|Department            |total_no_employess|
+----------------------+------------------+
|Research & Development|961               |
|Sales                 |445               |
|Human Resources       |63                |
+----------------------+------------------+

In [0]:
#d) Highest number of job roles
spark.sql("SELECT JobRole,count(*) as high_job_role from employee_table GROUP BY JobRole order by high_job_role desc").show(1,truncate=False)

+---------------+-------------+
|JobRole        |high_job_role|
+---------------+-------------+
|Sales Executive|326          |
+---------------+-------------+
only showing top 1 row

In [0]:
#e) Which gender have higher strength as workforce?
spark.sql("SELECT Gender,count(*) as workforce_count from employee_table GROUP BY Gender order by workforce_count desc").show(truncate=False)

+------+---------------+
|Gender|workforce_count|
+------+---------------+
|Male  |881            |
|Female|588            |
+------+---------------+

In [0]:
#f) Compare the marital status of employee and find the most frequent status.
spark.sql("SELECT MaritalStatus,count(*) as marital_status_count from employee_table GROUP BY MaritalStatus order by marital_status_count desc").show(truncate=False)

+-------------+--------------------+
|MaritalStatus|marital_status_count|
+-------------+--------------------+
|Married      |672                 |
|Single       |470                 |
|Divorced     |327                 |
+-------------+--------------------+

In [0]:
#g) Mostly hired employee have qualification
spark.sql("SELECT Education,count(*) as qualification_details from employee_table GROUP BY Education order by qualification_details desc").show(1,truncate=False)

+---------+---------------------+
|Education|qualification_details|
+---------+---------------------+
|Bachelor |572                  |
+---------+---------------------+
only showing top 1 row

In [0]:
#h) Find the count of employee from which education fields
spark.sql("SELECT Education,count(*) as qualification_details from employee_table GROUP BY Education order by qualification_details desc").show(truncate=False)

+-------------+---------------------+
|Education    |qualification_details|
+-------------+---------------------+
|Bachelor     |572                  |
|Master       |398                  |
|College      |282                  |
|Below College|169                  |
|Doctor       |48                   |
+-------------+---------------------+

In [0]:
#i) What is the job satisfaction level of employee?
spark.sql("SELECT JobSatisfaction,count(*) as satisfaction_level from employee_table GROUP BY JobSatisfaction order by satisfaction_level desc").show(truncate=False)

+---------------+------------------+
|JobSatisfaction|satisfaction_level|
+---------------+------------------+
|Very High      |459               |
|High           |441               |
|Low            |289               |
|Medium         |280               |
+---------------+------------------+

In [0]:
#j) Does most of employee do overtime: Yes or No?
spark.sql("SELECT JobSatisfaction,count(*) as satisfaction_level from employee_table GROUP BY JobSatisfaction order by satisfaction_level desc").show(truncate=False)

+---------------+------------------+
|JobSatisfaction|satisfaction_level|
+---------------+------------------+
|Very High      |459               |
|High           |441               |
|Low            |289               |
|Medium         |280               |
+---------------+------------------+

In [0]:
#k) Find Min &amp; Max Salaried employees.
spark.sql("SELECT min(Income) as minimum_salary,max(Income) as max_salary FROM employee_table").show()

+--------------+----------+
|minimum_salary|max_salary|
+--------------+----------+
|          1009|     19999|
+--------------+----------+

In [0]:
#l) Does most of the employee do business travel? Find of the employees counts for each category
spark.sql("SELECT BusinessTravel,count(*) as travel_frequency from employee_table GROUP BY BusinessTravel order by travel_frequency desc").show(truncate=False)

+-----------------+----------------+
|BusinessTravel   |travel_frequency|
+-----------------+----------------+
|Travel_Rarely    |1042            |
|Travel_Frequently|277             |
|Non-Travel       |150             |
+-----------------+----------------+

In [0]:
#m) Find the AVG salary of graduate employee.
spark.sql("SELECT avg(income) as avg_grad_income from employee_table where education not in ('below college')").show()

+----------------+
| avg_grad_income|
+----------------+
|6505.72157930565|
+----------------+

In [0]:
#n) Find the employee qualification receiving salary lower than equal to avg. salary of all employee.
spark.sql("SELECT education,income from employee_table where income <= ( SELECT avg(income) as avg_grad_income from employee_table)").show()

+-------------+------+
|    education|income|
+-------------+------+
|      College|  5993|
|Below College|  5130|
|      College|  2090|
|       Master|  2909|
|Below College|  3468|
|      College|  3068|
|     Bachelor|  2670|
|Below College|  2693|
|     Bachelor|  5237|
|     Bachelor|  2426|
|      College|  4193|
|Below College|  2911|
|      College|  2661|
|     Bachelor|  2028|
|      College|  3298|
|      College|  2935|
|     Bachelor|  3944|
|      College|  4011|
|       Master|  3407|
|      College|  1232|
+-------------+------+
only showing top 20 rows

In [0]:
#o) When does the employee have highest chance of promotion in terms of working year?
spark.sql("SELECT count(*) as promoted_employees,(Workex - YearsSinceLastPromotion) as year_experience from employee_table group by (Workex - YearsSinceLastPromotion) order by promoted_employees desc").show()

+------------------+---------------+
|promoted_employees|year_experience|
+------------------+---------------+
|               141|              5|
|               117|             10|
|               114|              1|
|               108|              8|
|               102|              9|
|               101|              7|
|                95|              6|
|                79|              4|
|                77|              2|
|                74|              3|
|                51|             11|
|                43|              0|
|                42|             12|
|                30|             17|
|                30|             19|
|                28|             13|
|                27|             14|
|                24|             20|
|                22|             16|
|                22|             18|
+------------------+---------------+
only showing top 20 rows

In [0]:
#p) Highest attrition is in which department?
spark.sql("SELECT department,count(*) as total_attrition from employee_table where attrition='Yes' GROUP BY department ORDER BY total_attrition desc").show(1,truncate=False)

+----------------------+---------------+
|department            |total_attrition|
+----------------------+---------------+
|Research & Development|133            |
+----------------------+---------------+
only showing top 1 row

In [0]:
#q) Show marital status of Person having highest attrition rate
spark.sql("SELECT MaritalStatus,count(*) as total_attrition from employee_table where attrition='Yes' GROUP BY MaritalStatus ORDER BY total_attrition desc").show(truncate=False)

+-------------+---------------+
|MaritalStatus|total_attrition|
+-------------+---------------+
|Single       |120            |
|Married      |84             |
|Divorced     |33             |
+-------------+---------------+