In [0]:
sc

In [0]:
print(spark)

In [0]:
sc.stop()

In [0]:
from pyspark import SparkContext, SparkConf

# New Spark SQL Context
from pyspark.sql import SQLContext
conf = SparkConf().setAppName("Spark_ProjLogAnalysis").setMaster("local[*]")
sc = SparkContext.getOrCreate(conf)
sqlcontext = SQLContext(sc)

/databricks/spark/python/pyspark/sql/context.py:82: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

In [0]:
print(spark)

In [0]:
logs_DF = spark.read.csv("dbfs:/FileStore/tables/all_transaction_1.csv", header=True, inferSchema=True)
logs_DF.show(10,truncate=False)

+------------------------------------+---------------------------------------------------------------------------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
|ProductCode                         |Description                                                                            |Brand       |Category|SubCategory        |ActualPrice|Marginpercentage|Discountpercentage|Quantity|TransactionAmount|InvoiceDate        |Mode          |InvoiceNumber|CustomerId  |Country  |
+------------------------------------+---------------------------------------------------------------------------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
|e6fa885e-5f14-4e8c-8651-0c4e1c12be7b|Landau Pants 2xl Unisex Scrub Pant Tall - Ceil Blue                                    |landau      |shoes   |all women's shoes  |1470.0     |20              |30                |3       |3087.0           |2015-01-04 18:30:00|mastercard    |1045713097   |GgZx5HTWOcva|Hong Kong|
|7792c28f-2f9b-48b5-a2a7-911cac451746|Adult Womens Sexy Greek Roman Goddess Toga Fancy Dress Halloween Costume               |adult       |shoes   |all women's shoes  |2800.0     |10              |30                |2       |3920.0           |2015-01-04 18:30:00|visa signature|1045713178   |7EV5p15dX2zO|Singapore|
|7c478913-348f-4f38-94f9-a13b79632cd9|Woolrich Miss Lucy Women  Round Toe Leather  Mules                                     |woolrich    |clothing|athletic           |2800.0     |-10             |30                |3       |5880.0           |2015-01-04 18:30:00|cash          |1045714180   |2tZAOpxvJlgB|Germany  |
|cf9b6432-8b56-42cc-85fe-d2c5d04afa62|Style & Co Vern   Open Toe Synthetic  Wedge Sandal                                     |style       |clothing|women's shoes      |1400.0     |30              |10                |2       |2520.0           |2015-01-04 18:30:00|amex          |1045715253   |9fbao8KypEpz|Hong Kong|
|05eae2f8-0c6a-47ca-bdc3-ba9c91605f1a|Two Lips Swizzle   Round Toe Synthetic  Heels                                          |two         |clothing|all women's shoes  |140.0      |20              |30                |3       |294.0            |2015-01-04 18:30:00|dinner's club |1045716187   |lPqADDQ1usd9|Bahrain  |
|e8ffc821-8e90-49d2-afd3-4aa3113a9aab|Michael Kors Clara Black Suede Mid Ankle Bootie Size 9.5m                              |michael     |clothing|necklaces          |1750.0     |20              |20                |2       |2800.0           |2015-01-04 18:30:00|visa signature|1045717027   |i6uFeCvEA38x|India    |
|28a330c4-23c5-4bbf-83a1-8b7832f5af37|Bali 3547 Womens One Smooth U Side Support Underwire Bra44 Private Jet Grey - Size 38dd|bali        |clothing|shoes & jewelry    |2660.0     |20              |10                |2       |4788.0           |2015-01-04 18:30:00|mastercard    |1045717057   |ROuGH6eRfT8M|Germany  |
|e0cbbd76-d953-479d-a0e5-f9357626a07f|Women's Dr Scholl's                                                                    |dr. scholl's|clothing|all women's shoes  |3500.0     |10              |30                |3       |7350.0           |2015-01-04 18:30:00|amex          |1045717764   |53z4b3TzViDe|Japan    |
|6ffddd0f-457e-4503-a975-ae0d34b6aaa2|Coloriffics Danica Women Us 10 White Peep Toe Heels                                    |coloriffics |clothing|women's accessories|8470.0     |30              |20                |4       |27104.0          |2015-01-04 18:30:00|amex          |1045718272   |T5XQRb4pN5lk|India    |
|e8979507-1d96-450a-9cbb-b26fea258451|Timberland Earthkeepers Savin Hill Mid Women  Round Toe Leather  Combat Boot           |timberland  |shoes   |shoes & bags       |17430.0    |-10             |30                |2       |24402.0          |2015-01-04 18:30:00|visa signature|1045719308   |6zD1uOeuAnCH|India    |
+------------------------------------+---------------------------------------------------------------------------------------+------------+--------+-------------------+-----------+----------------+------------------+--------+-----------------+-------------------+--------------+-------------+------------+---------+
only showing top 10 rows

In [0]:
from pyspark.sql.functions import *
from pyspark.sql.functions import date_format,year,col,to_timestamp
logs_DF1=logs_DF.withColumn("Year",year(logs_DF.InvoiceDate)).withColumn("Month",month(logs_DF.InvoiceDate)).withColumn("Quarter",quarter(logs_DF.InvoiceDate))

In [0]:
logs_DF1.createOrReplaceTempView("sales_table")

####a. Find the top five performing mobile brands for the months of November, December
####and January r each year.

In [0]:
spark.sql("""select sales_year,sales_month,brand,highest_selling from (
select brand,year as sales_year,month as sales_month,row_number() over(partition by year,month order by sum(quantity) desc) as rank,sum(quantity) as highest_selling from sales_table where SubCategory='mobile' and month in (12,11,1)  group by brand,sales_year,sales_month)a where rank<=5 order by sales_year,sales_month,highest_selling desc""").show()

+----------+-----------+--------+---------------+
|sales_year|sales_month|   brand|highest_selling|
+----------+-----------+--------+---------------+
|      2015|          1| samsung|            377|
|      2015|          1|   apple|            223|
|      2015|          1|   nokia|            168|
|      2015|          1|     blu|            148|
|      2015|          1|motorola|            127|
|      2015|         11| samsung|            448|
|      2015|         11|     blu|            234|
|      2015|         11|   apple|            200|
|      2015|         11|   nokia|            185|
|      2015|         11|      lg|            165|
|      2015|         12| samsung|            517|
|      2015|         12|     blu|            249|
|      2015|         12|   nokia|            212|
|      2015|         12|   apple|            184|
|      2015|         12|     htc|            158|
|      2016|          1| samsung|            361|
|      2016|          1|   apple|            216|
|      2016|          1|     blu|            171|
|      2016|          1|   nokia|            159|
|      2016|          1|      lg|            145|
+----------+-----------+--------+---------------+
only showing top 20 rows

####b. Find the top five selling products for the months of November, December and
####January for each year.

In [0]:
spark.sql("""select sales_year,sales_month,subcategory,highest_selling from (
select subcategory,year as sales_year,month as sales_month,row_number() over(partition by year,month order by sum(quantity) desc) as rank,sum(quantity) as highest_selling from sales_table where month in (12,11,1)  group by subcategory,sales_year,sales_month)a where rank<=5 order by sales_year,sales_month,highest_selling desc""").show()

+----------+-----------+-----------------+---------------+
|sales_year|sales_month|      subcategory|highest_selling|
+----------+-----------+-----------------+---------------+
|      2015|          1|all women's shoes|           2891|
|      2015|          1|           mobile|           2255|
|      2015|          1|      men's shoes|           1835|
|      2015|          1|  shoes & jewelry|            955|
|      2015|          1|    women's shoes|            829|
|      2015|         11|           mobile|           2701|
|      2015|         11|      men's shoes|           2186|
|      2015|         11|all women's shoes|           2044|
|      2015|         11|  shoes & jewelry|            870|
|      2015|         11|    women's shoes|            586|
|      2015|         12|all women's shoes|           2970|
|      2015|         12|           mobile|           2935|
|      2015|         12|      men's shoes|           2010|
|      2015|         12|  shoes & jewelry|            919|
|      2015|         12|    women's shoes|            911|
|      2016|          1|           mobile|           2262|
|      2016|          1|all women's shoes|           2243|
|      2016|          1|      men's shoes|           2092|
|      2016|          1|  shoes & jewelry|            946|
|      2016|          1|    women's shoes|            622|
+----------+-----------+-----------------+---------------+
only showing top 20 rows

####a. Number of products sold along with revenue aggregated quarterly

In [0]:
spark.sql("SELECT year,quarter,category,sum(quantity) as no_products_sold,sum(transactionamount) as quarter_revenue from sales_table group by year,quarter,category order by year,quarter,no_products_sold desc").show(truncate=False)

+----+-------+-------------+----------------+-------------------+
|year|quarter|category     |no_products_sold|quarter_revenue    |
+----+-------+-------------+----------------+-------------------+
|2015|1      |clothing     |32683           |1.89308525E8       |
|2015|1      |electronics  |7872            |1.10534375E8       |
|2015|1      |shoes        |2134            |8619415.0          |
|2015|1      |apple carplay|4               |86240.0            |
|2015|2      |clothing     |32481           |1.87920992E8       |
|2015|2      |electronics  |7434            |2.23020102342676E14|
|2015|2      |shoes        |2154            |1.2181617E7        |
|2015|3      |clothing     |33517           |2.08341854E8       |
|2015|3      |electronics  |7497            |9.8171612E7        |
|2015|3      |shoes        |2210            |1.106511E7         |
|2015|4      |clothing     |33537           |1.80563516E8       |
|2015|4      |electronics  |9917            |1.2996053E8        |
|2015|4      |shoes        |2179            |1.1590796E7        |
|2015|4      |furniture    |3               |68040.0            |
|2016|1      |clothing     |38708           |2.28425575E8       |
|2016|1      |electronics  |8054            |2.23020110449033E14|
|2016|1      |shoes        |2359            |1.0967747E7        |
|2016|1      |apple carplay|4               |86240.0            |
|2016|2      |clothing     |31428           |2.08824343E8       |
|2016|2      |electronics  |8232            |4.46040112881318E14|
+----+-------+-------------+----------------+-------------------+
only showing top 20 rows

####b. Number of products sold in each category aggregated quarterly

In [0]:
spark.sql("SELECT year,quarter,subcategory,sum(quantity) as no_products_sold,sum(transactionamount) as quarter_revenue from sales_table group by year,quarter,subcategory order by year,quarter,no_products_sold desc").show(truncate=False)

+----+-------+----------------------------------+----------------+---------------+
|year|quarter|subcategory                       |no_products_sold|quarter_revenue|
+----+-------+----------------------------------+----------------+---------------+
|2015|1      |all women's shoes                 |7155            |4.8507606E7    |
|2015|1      |mobile                            |6487            |7.5902435E7    |
|2015|1      |men's shoes                       |5854            |3.1296321E7    |
|2015|1      |shoes & jewelry                   |2587            |1.3536425E7    |
|2015|1      |women's shoes                     |2134            |9018086.0      |
|2015|1      |all men's shoes                   |1338            |7802228.0      |
|2015|1      |athletic                          |623             |4346706.0      |
|2015|1      |women's accessories               |619             |3154683.0      |
|2015|1      |sunglasses & eyewear accessories  |592             |4371129.0      |
|2015|1      |jewelry                           |530             |2377774.0      |
|2015|1      |office safety & security          |492             |2110129.0      |
|2015|1      |all women's clothing              |490             |3694621.0      |
|2015|1      |sporting goods                    |461             |2415994.0      |
|2015|1      |shoes & handbags                  |451             |2660658.0      |
|2015|1      |computers                         |439             |1.2138623E7    |
|2015|1      |shoes                             |406             |2283281.0      |
|2015|1      |intimates & sleepwear             |403             |2556029.0      |
|2015|1      |boots                             |363             |2256534.0      |
|2015|1      |bags & briefcases                 |315             |2113776.0      |
|2015|1      |work safety clothing and equipment|298             |1408596.0      |
+----+-------+----------------------------------+----------------+---------------+
only showing top 20 rows

####c. A number of products sold for each brand aggregated quarterly.

In [0]:
spark.sql("SELECT year,quarter,brand,sum(quantity) as no_products_sold,sum(transactionamount) as quarter_revenue from sales_table group by year,quarter,brand order by year,quarter,no_products_sold desc").show(truncate=False)

+----+-------+----------+----------------+---------------+
|year|quarter|brand     |no_products_sold|quarter_revenue|
+----+-------+----------+----------------+---------------+
|2015|1      |nike      |2642            |1.4348817E7    |
|2015|1      |samsung   |1174            |2.3020928E7    |
|2015|1      |apple     |646             |1.2887868E7    |
|2015|1      |new       |634             |2765798.0      |
|2015|1      |puma      |618             |3553963.0      |
|2015|1      |reebok    |539             |3039337.0      |
|2015|1      |blu       |533             |5154877.0      |
|2015|1      |vans      |457             |3558485.0      |
|2015|1      |nokia     |441             |4170432.0      |
|2015|1      |yu&yu     |384             |1983051.0      |
|2015|1      |sony      |382             |7414715.0      |
|2015|1      |skechers  |380             |1634087.0      |
|2015|1      |htc       |348             |4018371.0      |
|2015|1      |adidas    |348             |1557710.0      |
|2015|1      |lg        |325             |3239341.0      |
|2015|1      |toms      |312             |1265810.0      |
|2015|1      |motorola  |300             |2520315.0      |
|2015|1      |converse  |268             |1145088.0      |
|2015|1      |blackberry|260             |2045400.0      |
|2015|1      |pleaserusa|242             |3005940.0      |
+----+-------+----------+----------------+---------------+
only showing top 20 rows

####a. Top 5 profit margin generating products for a given month.

In [0]:
spark.sql("""select sales_year,sales_month,subcategory,ProfitMargin from (
select subcategory,year as sales_year,month as sales_month,row_number() over(partition by year,month order by sum(case when Marginpercentage-Discountpercentage > 0 then 1 else 0 end) desc) as rank,sum(case when Marginpercentage-Discountpercentage > 0 then 1 else 0 end) as ProfitMargin from sales_table group by subcategory,sales_year,sales_month)a where rank<=5 order by sales_year,sales_month,ProfitMargin desc""").show()

+----------+-----------+-----------------+------------+
|sales_year|sales_month|      subcategory|ProfitMargin|
+----------+-----------+-----------------+------------+
|      2015|          1|all women's shoes|         328|
|      2015|          1|           mobile|         260|
|      2015|          1|      men's shoes|         225|
|      2015|          1|  shoes & jewelry|         136|
|      2015|          1|    women's shoes|         116|
|      2015|          2|           mobile|         239|
|      2015|          2|all women's shoes|         215|
|      2015|          2|      men's shoes|         178|
|      2015|          2|    women's shoes|          82|
|      2015|          2|  shoes & jewelry|          76|
|      2015|          3|      men's shoes|         254|
|      2015|          3|all women's shoes|         251|
|      2015|          3|           mobile|         231|
|      2015|          3|  shoes & jewelry|         110|
|      2015|          3|    women's shoes|          77|
|      2015|          4|all women's shoes|         279|
|      2015|          4|      men's shoes|         220|
|      2015|          4|           mobile|         171|
|      2015|          4|  shoes & jewelry|         106|
|      2015|          4|    women's shoes|          87|
+----------+-----------+-----------------+------------+
only showing top 20 rows

####4. Brands that need marketing
####a. Brand wise segregation of best performing categories profits wise

In [0]:
spark.sql("""select brand,SubCategory,products_sold,ProfitPercentage,total_revenue,(total_revenue / ProfitPercentage) as net_profit from (select brand,SubCategory,(Marginpercentage-Discountpercentage) as ProfitPercentage,sum(Quantity) as products_sold ,sum(transactionamount) as total_revenue from sales_table group by brand,ProfitPercentage,SubCategory) where ProfitPercentage>0 group by brand,SubCategory,products_sold,total_revenue,ProfitPercentage,net_profit order by net_profit desc""").show(truncate=False)

+----------+---------------------------+-------------+----------------+--------------+--------------+
|brand     |SubCategory                |products_sold|ProfitPercentage|total_revenue |net_profit    |
+----------+---------------------------+-------------+----------------+--------------+--------------+
|pioneer   |parts & accessories        |56           |10              |3.122280028E15|3.122280028E14|
|samsung   |mobile                     |2980         |10              |4.1856129E7   |4185612.9     |
|annie     |women's shoes              |12           |20              |7.88886E7     |3944430.0     |
|apple     |mobile                     |1323         |10              |2.5835397E7   |2583539.7     |
|blu       |mobile                     |1524         |10              |2.0141338E7   |2014133.8     |
|nike      |men's shoes                |2685         |10              |1.6590182E7   |1659018.2     |
|sony      |mobile                     |802          |10              |1.2607938E7   |1260793.8     |
|zigi      |intimates & sleepwear      |64           |10              |1.1458944E7   |1145894.4     |
|yu&yu     |all women's shoes          |302          |20              |2.2873536E7   |1143676.8     |
|nokia     |mobile                     |1050         |10              |1.1207238E7   |1120723.8     |
|pleaserusa|all women's shoes          |269          |10              |1.1066244E7   |1106624.4     |
|sunbritetv|headphones                 |57           |10              |1.00548E7     |1005480.0     |
|samsung   |mobile                     |1213         |20              |1.9173357E7   |958667.85     |
|insignia  |computers                  |44           |10              |9147600.0     |914760.0      |
|htc       |mobile                     |698          |10              |9024036.0     |902403.6      |
|samsung   |portable bluetooth speakers|51           |20              |1.67076E7     |835380.0      |
|lg        |mobile                     |770          |10              |8249087.0     |824908.7      |
|vans      |men's shoes                |343          |10              |7040733.0     |704073.3      |
|muka      |wrist watches              |76           |10              |6631380.0     |663138.0      |
|huawei    |mobile                     |433          |10              |6360760.0     |636076.0      |
+----------+---------------------------+-------------+----------------+--------------+--------------+
only showing top 20 rows

####b. Brand wise segregation of least performing categories orders wise

In [0]:
spark.sql("select brand,SubCategory,sum(Quantity) as products_sold from sales_table group by brand,SubCategory order by products_sold").show(truncate=False)

+---------+----------------------------+-------------+
|brand    |SubCategory                 |products_sold|
+---------+----------------------------+-------------+
|hailey   |women's shoes               |1            |
|liz      |shoes & handbags            |1            |
|cooler   |auto & tires                |1            |
|converse |other wholesale women's accs|1            |
|platinum |jewelry                     |1            |
|luxury   |women's clothing            |1            |
|nwt      |men's work shoes & boots    |1            |
|basic    |shoes & jewelry             |1            |
|capezio  |waist packs                 |1            |
|silvertoe|shoes & jewelry             |1            |
|patrick  |men's clothing              |1            |
|totes    |women's dress shoes         |1            |
|tommy    |intimates & sleepwear       |1            |
|parisa   |all women's shoes           |1            |
|luckers  |all women's shoes           |1            |
|deer     |shoes & jewelry             |1            |
|aerosoles|boots                       |1            |
|roper    |men's casual shoes          |1            |
|tsubo    |women's accessories         |1            |
|living   |jewelry                     |1            |
+---------+----------------------------+-------------+
only showing top 20 rows

#### 5. Find the products that should be part of the lighting deals.
#### a. Find the top five selling products in a given month

In [0]:
spark.sql("""select sales_year,sales_month,subcategory,highest_selling from (
select subcategory,year as sales_year,month as sales_month,row_number() over(partition by year,month order by sum(quantity) desc) as rank,sum(quantity) as highest_selling from sales_table group by subcategory,sales_year,sales_month)a where rank<=5 order by sales_year,sales_month,highest_selling desc""").show()

+----------+-----------+-----------------+---------------+
|sales_year|sales_month|      subcategory|highest_selling|
+----------+-----------+-----------------+---------------+
|      2015|          1|all women's shoes|           2891|
|      2015|          1|           mobile|           2255|
|      2015|          1|      men's shoes|           1835|
|      2015|          1|  shoes & jewelry|            955|
|      2015|          1|    women's shoes|            829|
|      2015|          2|           mobile|           2131|
|      2015|          2|all women's shoes|           1993|
|      2015|          2|      men's shoes|           1729|
|      2015|          2|  shoes & jewelry|            646|
|      2015|          2|    women's shoes|            592|
|      2015|          3|      men's shoes|           2290|
|      2015|          3|all women's shoes|           2271|
|      2015|          3|           mobile|           2101|
|      2015|          3|  shoes & jewelry|            986|
|      2015|          3|    women's shoes|            713|
|      2015|          4|all women's shoes|           2236|
|      2015|          4|      men's shoes|           2088|
|      2015|          4|           mobile|           1680|
|      2015|          4|  shoes & jewelry|            892|
|      2015|          4|    women's shoes|            677|
+----------+-----------+-----------------+---------------+
only showing top 20 rows

####b. Find the top five products having the highest margin in a given month

In [0]:
spark.sql("""select sales_year,sales_month,subcategory,highest_margin from (
select subcategory,year as sales_year,month as sales_month,row_number() over(partition by year,month order by sum(Marginpercentage) desc) as rank,sum(Marginpercentage) as highest_margin from sales_table group by subcategory,sales_year,sales_month)a where rank<=5 order by sales_year,sales_month,highest_margin desc""").show()

+----------+-----------+-----------------+--------------+
|sales_year|sales_month|      subcategory|highest_margin|
+----------+-----------+-----------------+--------------+
|      2015|          1|all women's shoes|         16910|
|      2015|          1|           mobile|         13210|
|      2015|          1|      men's shoes|         10940|
|      2015|          1|  shoes & jewelry|          5690|
|      2015|          1|    women's shoes|          5400|
|      2015|          2|           mobile|         11980|
|      2015|          2|all women's shoes|         11160|
|      2015|          2|      men's shoes|          9200|
|      2015|          2|  shoes & jewelry|          3690|
|      2015|          2|    women's shoes|          3530|
|      2015|          3|      men's shoes|         13270|
|      2015|          3|all women's shoes|         13140|
|      2015|          3|           mobile|         12260|
|      2015|          3|  shoes & jewelry|          5440|
|      2015|          3|    women's shoes|          3950|
|      2015|          4|all women's shoes|         14060|
|      2015|          4|      men's shoes|         11930|
|      2015|          4|           mobile|          8650|
|      2015|          4|  shoes & jewelry|          5270|
|      2015|          4|    women's shoes|          4420|
+----------+-----------+-----------------+--------------+
only showing top 20 rows

####c. Find the five lowest selling products in a given month.

In [0]:
spark.sql("""select sales_year,sales_month,subcategory,lowest_selling from (
select subcategory,year as sales_year,month as sales_month,row_number() over(partition by year,month order by sum(quantity)) as rank,sum(quantity) as lowest_selling from sales_table group by subcategory,sales_year,sales_month)a where rank<=5 order by sales_year,sales_month,lowest_selling""").show(truncate=False)

+----------+-----------+----------------------------------------------------------+--------------+
|sales_year|sales_month|subcategory                                               |lowest_selling|
+----------+-----------+----------------------------------------------------------+--------------+
|2015      |1          |women's running shoes                                     |1             |
|2015      |1          |link                                                      |1             |
|2015      |1          |wristwatch bands                                          |1             |
|2015      |1          |scuff                                                     |1             |
|2015      |1          |masks & peels                                             |1             |
|2015      |2          |see more saxx 9699 mens vibe orange striped modern fit ...|1             |
|2015      |2          |neutral                                                   |1             |
|2015      |2          |occupational                                              |1             |
|2015      |2          |coveralls & suits                                         |1             |
|2015      |2          |smart watch accessories                                   |1             |
|2015      |3          |see more women plus size alfani tummy control capri pan...|1             |
|2015      |3          |moccasins                                                 |1             |
|2015      |3          |home & garden                                             |1             |
|2015      |3          |plus size pants & leggings                                |1             |
|2015      |3          |rings                                                     |1             |
|2015      |4          |see more wrangler jeans original fit cowboy cut 13mwz b...|1             |
|2015      |4          |socks & underwear                                         |1             |
|2015      |4          |headbands                                                 |1             |
|2015      |4          |women's running shoes                                     |1             |
|2015      |4          |see more mens nike tiempo genio leather fg soccer cleat...|1             |
+----------+-----------+----------------------------------------------------------+--------------+
only showing top 20 rows